 
<div class="container">
      <div class="topbox">
        <img src="/images/learn-rails-book-cover.jpg" height="480px">
		
        <h1>Learn Ruby on Rails</h1>
        <h2 class="sub-title">
          Get the book that is called "The best Rails book for beginners."
        </h2>


        <div class="social-sharing">
          <div style="display:inline-block; vertical-align:text-bottom;">
            <a class="twitter-share-button" data-count="horizontal" data-text="What do you think of the book 'Learn Ruby on Rails'?" data-url="http://learn-rails.com/learn-ruby-on-rails.html" data-via="rails_apps" data-related="rails_apps:Author of the book" href="http://twitter.com/share"></a>
            <div class="g-plusone" data-annotation="bubble" data-href="http://learn-rails.com/learn-ruby-on-rails.html" data-size="medium" data-width="90"></div>
            <div class="fb-like" data-href="http://learn-rails.com/learn-ruby-on-rails.html" data-width="90" data-layout="button_count" data-show-faces="false" data-send="false"></div>
          </div>
        </div>

    
      </div>

      <div class="main-content-container">

        <div class="subheading">
          <h2 class="hook content">
            Get a solid start with Ruby on Rails web development with a new book by renowned teacher and author <span class="highlight">Daniel Kehoe</span>
          </h2>
          <div class="darker">
            <div class="pullquote content">
              <span class="quote open">“</span><em>Learn Ruby on Rails</em> is a great book for anyone starting to learn web development, giving you the context and explanations at the right time in an encouraging way.<span class="quote">”</span>
              <div class="pullquote-source">&mdash;Linda Liukas, co-founder of Rails Girls, 1 Oct 2013</div>
            </div>
          </div>
        </div>
        <div id="who-for" class="content">
          <h2>
            Who is this book for?
          </h2>
          <h3>
            This book is written for YOU if you are new to Ruby on Rails and...
          </h3>
          <ul>
            <li>
              You are a startup founder who wants to build an application
            </li>
            <li>
              You want to pursue a career as a professional web developer
            </li>
            <li>
              You've got experience with the web and need to learn Rails
            </li>
            <li>
              You don't know how to program&mdash;but want to learn
            </li>
          </ul>
          <h3>
            No matter who you are, this book will put rocket boosters on your first steps into web development with Rails.
          </h3>
          <img src="/images/rocket2.jpg" height="200px" class="rocket-icon">
        </div>

        <div class="darker">
          <div class="benefits content">

            <div class="clear">
              <h2>
                In one intense weekend of reading and coding, you will:
              </h2>
            </div>


            <div class="benefit">
              <img src="/images/ruby.png" height="80px" class="icon">
              <h4>
                Learn the basics of the Ruby language
              </h4>
            </div>
            <div class="benefit">
              <img src="/images/rails.png" height="80px" class="icon">
              <h4>
                Build a real Rails application step-by-step
              </h4>
            </div>
            <div class="benefit">
              <img src="/images/git.png" height="80px" class="icon">
              <h4>
                Adopt a professional workflow using Git
              </h4>
            </div>
            <div class="benefit">
              <img src="/images/heroku.png" height="80px" class="icon">
              <h4>
                Deploy your application to the web using Heroku
              </h4>
            </div>

            <div class="clear sub-description">

            </div>
          </div>
        </div>

        <div>
          <div id="book-about" class="content narrow">
            <h2>
              How This Book is Different:
            </h2>
            <h3>
              No prior knowledge required
            </h3>
            <p>
              This is the first book for beginners that makes no assumptions about your previous knowledge. If you've worked with HTML and CSS, you have everything you need to succeed with this book.
            </p>
            <p>
              Other books assume you have previous knowledge of web application development principles. This book starts with the basics so no one gets lost.
            </p>
            <h3>
              A real-world application you can use
            </h3>
            <p>
              Learn by doing. You'll build a real-world Rails application that can be used by a typical small business. The website will include a home page, "about" page, contact form, and option to sign up for a mailing list.
            </p>
            <p>
              You can deploy the application and actually use it for someone's business.
            </p>
            <h3>
              Learn workplace skills
            </h3>
            <p>
              This book is unique in covering the basics while introducing the techniques of professional Rails development. Though written for beginners, the book shows how to use the tools that Rails developers actually use in the workplace. Work practices that are often said to be "too complicated for beginners" are introduced and demystified so you're prepared for a real job as a developer.
            </p>
          </div>
        </div>

        <div class="darker">
          <div class="pullquote content">
          <span class="quote open">“</span>Probably the best tutorial available for people new to Rails.<span class="quote">”</span>
            <div class="pullquote-source">&mdash;Mark Everhart, 19 Sept 2013</div>
          </div>
        </div>

        <div id="author" class="content">
          <h2>About the Author:</h2>
          <div class="author-info">
            <img src="/images/kehoe-teaching.png" class="author-img" height="200px">
            <span class="highlight">Daniel Kehoe</span> is a former writer and editor at PC WORLD and NeXTWORLD magazines, who is known for a lively and entertaining writing style. Kehoe has built web applications since the web's beginnings in 1991 and has worked with Rails since 2006 as a consultant and technical cofounder for startups. He is well-known in the Rails community for the popular <a href="http://railsapps.github.io/" target="_blank">RailsApps</a> project, which offers tutorials and example applications for professional Rails developers.
          </div>
        </div>

        <div class="darker">
          <div class="pullquote content">
            <span class="quote open">“</span>I love what you're doing with this book. Specifically, that you're explaining and putting in context the whole ecosystem around Rails. Much needed for people just entering the field.<span class="quote">”</span>
            <div class="pullquote-source">&mdash;Avdi Grimm, 1 Oct 2013</div>
          </div>
        </div>

        <div id="contents" class="content narrow">

          <h2>Table of Contents:</h2>
          <h3>Professional practices</h3>
          <ul>
          <li>Rails guiding principles</li>
          <li>Product planning</li>
          <li>Project management</li>
          <li>Where to go for help</li>
          </ul>
          <h3>Inside Rails</h3>
          <ul>
          <li>Rails directory structure</li>
          <li>Time travel with Git</li>
          <li>All about gems</li>
          <li>Configuring an application</li>
          <li>Static pages and routing</li>
          </ul>
          <h3>Gaining skill</h3>
          <ul>
          <li>The request/response cycle</li>
          <li>Troubleshooting</li>
          <li>Ruby literacy</li>
          <li>Layout and views</li>
          <li>Stylesheets and themes</li>
          </ul>
          <h3>Building your real-world application</h3>
          <ul>
          <li>Contact forms</li>
          <li>Connecting to an API</li>
          <li>Sending mail</li>
          <li>Signing up for a newsletter</li>
          </ul>
          <h3>Final steps</h3>
          <ul>
          <li>Deploying an application</li>
          <li>Adding analytics</li>
          </ul>
          <h3>Overcoming obstacles</h3>
          <ul>
          <li>Rails challenges</li>
          <li>Next steps</li>
          </ul>
        </div>

        <div class="darker">
          <div class="pullquote content">
            <span class="quote open">“</span>It's very well written. Other books present way too many new concepts at a time. Your book instead is an ideal starting point for Rails beginners.<span class="quote">”</span>
            <div class="pullquote-source">&mdash;Giacomo Lepori, 22 Sept 2013</div>
          </div>
        </div>

        <div class="darker">
          <div id="teaching">
            <img src="/images/kehoe-teaching-standing.png" height="349px">
          </div>
          <div class="darker">
            <div id="ordering" class="content narrow">
             <h2>
                Advance Edition Available Now
              </h2>
              <h3>
                Subscribe on the <a href="https://tutorials.railsapps.org/learn-ruby-on-rails">Rails Tutorials</a> site
              </h3>
              <div id="order-points">
                <ul>
                  <li>
                    Get the full-length <em>Learn Ruby on Rails</em> book</a>
                  </li>
                  <li>
                    Get the   updated book as new versions are released
                  </li>
                  <li>
                    Includes additional tutorials for ongoing learning
                  </li>
                  <li>
                    Only available to subscribers on the <a href="https://tutorials.railsapps.org/learn-ruby-on-rails">Rails Tutorials</a> site
                  </li>
                </ul>
              </div>
              <h2 class="see-you-there"><a href="https://tutorials.railsapps.org/learn-ruby-on-rails" class="sign-up-link" id="membership"><img src="/images/buy-it-now.gif" alt="CLICK TO ORDER"></a></h2>

        </div>

        <div>
          <div id="testimonials" class="contact content">
            Want more information? <a href="http://www.cloudflare.com/email-protection#9afefbf4f3fff6dafefbf4f3fff6f1fff2f5ffb4f9f5f7">email Daniel Kehoe</a>
          </div>
        </div>
      </div>
</div>
