<div class="navbar">
   
    
       
            <ul>
              <li><%= link_to 'Restore the Chief', root_path,  :class=> "sign-up-link pull-left"  %><li>
              <%= render 'layouts/navigation_links' %>
            </ul>
        
    
 
</div>