<div class="navbar">
   
    
       
            <ul >
              <li><%= link_to 'Home', root_path,  :class=> "sign-up-link"  %><li>
              <%= render 'layouts/navigation_links' %>
            </ul>
        
    
 
</div>